@model Dyplom_Rozhko_MVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutPageLoginRegister.cshtml";
}

<main aria-labelledby="title">
    <div style="display: grid; place-items: left; height: auto; ">
        <div style="width: 900px; margin-left: 100px;">

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Змінити пароль</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <h5 class="col-md-2 col-form-label">Старий пароль</h5>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <section style="padding-top: 10px"></section>
                <div class="row">
                    <h5 class="col-md-2 col-form-label">Новий пароль</h5>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <section style="padding-top: 10px"></section>
                <div class="row">
                    <h5 class="col-md-2 col-form-label">Підтвердження паролю</h5>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <section style="padding-top: 10px"></section>
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" value="Змінити пароль" class="btn btn-outline-dark" />
                    </div>
                </div>
            }
        </div>
    </div>

    
    <div style="display: grid; place-items: left; height: auto; ">
        <div style="width: 900px; margin-left: 100px;">
            <h4 style="margin-top: 30px">Ваші замовлення</h4>
            <hr />
            <table class="table table-bordered">
                <thead class="text-dark">
                    <tr>
                        <th>Товар</th>
                        <th>Ціна за одиницю</th>
                        <th>Кількість</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td class="align-middle">
                                <a href="@Url.Action("Product", "User", new { id = item.ProductId })"><img width="70px" class="img-fluid" src="@Url.Content(item.Product.ImageUrl)" alt=""></a>
                                <a style="color: #6f6f6f" href="@Url.Action("Product", "User", new { id = item.ProductId })">@Html.DisplayFor(modelItem => item.Product.ProductName)</a>
                            </td>
                            <td class="align-middle">@item.Product.Price₴</td>
                            <td class="align-middle">@item.Quantity</td>
                            <td class="align-middle">@item.OrderDate</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}