@model Dyplom_Rozhko_MVC.Models.ConnectAllTables

@{
    Layout = "~/Views/Shared/_LayoutPageOther.cshtml";
}

<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Звертайтеся з будь-якими питаннями</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div style="display: grid; place-items: left; height: auto; ">
                            <div style="width: 700px; margin-left: 100px;">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <p style="margin-left: 15px">Ім'я</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Contact.First().Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contact.First().Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p style="margin-left: 15px">Пошта</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Contact.First().Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contact.First().Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p style="margin-left: 15px">Тема</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Contact.First().Subject, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contact.First().Subject, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p style="margin-left: 15px">Повідомлення</p>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Contact.First().Message, new { @class = "form-control", rows = "5" })
                                        @Html.ValidationMessageFor(model => model.Contact.First().Message, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Надіслати" class="btn btn-block btn-primary my-3 py-3" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="d-flex flex-column">
                <h5 class="font-weight-semi-bold mb-3">Наші контакти</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Михайла Грушевського, 2А, Полтава</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>micronblogger@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+380 98 667 3797</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
