@model Dyplom_Rozhko_MVC.Models.ConnectAllTables

@{
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}

<!-- Категорії початок -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model.Category)
        {
            if (item.IsActive.Equals(true))
            {
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <a href="@Url.Action("Shop", new { id = item.CategoryId, categoryName = item.CategoryName })" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="@Url.Content(item.ImageUrl)" alt="">
                        </a>
                        <h5 align="center" class="font-weight-semi-bold m-0">@Html.DisplayFor(modelItem => item.CategoryName)</h5>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- Категорії кінець -->
<!-- Товари початок -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Наш Товар</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model.Product)
        {
            if (item.IsActive.Equals(true))
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href="@Url.Action("Product", new { id = item.ProductId })"><img class="img-fluid w-100" src="@Url.Content(item.ImageUrl)" alt=""></a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@Html.DisplayFor(modelItem => item.Price)₴</h6>
                            </div>
                        </div>
                        <div class=" d-flex justify-content-between bg-light border">
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- Товари кінець -->

